.tableBtn {
  padding: 5px 0;
  font-size: 20px;
  color: white;
  border: none;
  background-color: var(--userColor);
}
.tableBtnC {
  width: 100%;
}
.tableBtnL {
  width: 50%;
  border-right: 2px solid var(--userColorTheme);
}
.tableBtnR {
  width: 50%;
  border-left: 2px solid var(--userColorTheme);
}

.tableHeader {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tableHeader h2 {
  position: relative;
}

.newUserIcon {
  padding: 3px 5px;
  position: absolute;
  border-radius: 4px;
  font-size: 13px;
  background-color: red;
}

.tableBox {
  width: 100%;
  height: calc(100% - 60px);
  border-top: 1px solid var(--userColorTrans1);
}

.table {
  width: 100%;
  height: calc(100% - 64px);
  overflow: hidden;
  /* background-color: blueviolet; */
}

.tableRow {
  padding: 5px;
  display: flex;
  margin: 5px;
  align-items: center;
  border: 1px solid var(--userColorTrans1);
  border-radius: 10px;
  color: white;
  position: relative;
}

.tableRow .stars {
  position: absolute;
  right: 0;
}

.tableRowDropDown {
  height: 55px;
  padding: 5px 0;
  display: flex;
  margin: 0 5px;
  margin-top: -5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--userColorTrans1);
  border-radius: 0 0 10px 10px;
  color: white;
  position: relative;
}
.starSetter {
  display: flex;
  justify-content: center;
  position: relative;
}
.tableRowDropDown .slider {
  width: 116px;
  position: absolute;
  bottom: -10px;
  height: 20px;
  background-color: rgb(0, 0, 0, 0);
  -webkit-appearance: none;
}

.scrollBox {
  height: calc(100% - 5px);
  overflow-y: auto;
}
.thumbnail {
  border-radius: 50%;
  margin-right: 10px;
}
.tableRowImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--userColor);
}

.emptyTableMessageBox {
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
