:root {
  --userColorR: 154;
  --userColorG: 140;
  --userColorB: 201;

  --userColorDarkTheme: rgb(40, 44, 52, 1);
  --userColorLightTheme: rgb(255, 255, 255);

  --userColorTheme: var(--userColorDarkTheme);

  --userColor: rgb(var(--userColorR), var(--userColorG), var(--userColorB));
  --userColorTrans1: rgb(var(--userColorR), var(--userColorG), var(--userColorB), 0.75);
  --userColorTrans2: rgba(
    calc(var(--userColorR) - 24),
    calc(var(--userColorG) + 1),
    calc(var(--userColorB) + 37),
    0.5
  );
}
/* notes: 
--userColorTrans1: rgb(154, 140, 201, 0.5);
--userColorTrans2: rgba(130, 141, 238, 0.5);
*/
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: var(--userColor);
}
::-webkit-scrollbar-thumb {
  background-color: var(--userColorTrans2);
}

body {
  overflow: hidden;
  background-color: var(--userColorTheme);
}
.app {
  max-width: 700px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--userColorTheme);
}
.App-logo {
  height: 90vmin;
  pointer-events: none;
}

.linkBtn {
  color: white;
  text-decoration: none;
}

.signInPage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signInBtn {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.findNewBtn {
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  color: white;
  border: none;
  background-color: var(--userColor);
}
.UserProfile {
  height: 100vh;
  padding-top: 10px;
  background-color: var(--userColorTheme);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.UserProfile h4 {
  padding-top: 20px;
}
.colorBar {
  width: 170px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  background-color: var(--userColor);
}
.profilePictureBox {
  height: 300px;
  padding-top: 2px;
  background-color: var(--userColorTheme);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.profilePictureBox h4 {
  padding-top: 20px;
}
.profilePicture {
  cursor: pointer;
  background-color: var(--userColor);
  width: 200px;
  border-radius: 50%;
}
.profilePictureFillIn {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--userColor);
  border-radius: 50%;
}
.profilePicture:hover {
  box-shadow: 0px 0px 7px 6px rgb(211, 201, 110);
}
.profilePictureFillIn:hover {
  box-shadow: 0px 0px 7px 6px rgb(211, 201, 110);
}

.starRating {
  padding: 10px 5px;
  display: flex;
  justify-content: space-evenly;
}
.starRating span {
  padding: 0 5px;
}

.widgetBox {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.widget {
  width: 40vw;
  max-width: 200px;
  height: 150px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--userColorTrans1);
  cursor: pointer;
}
.widget:hover {
  box-shadow: 0px 0px 7px 6px rgb(211, 201, 110);
}
.FriendsRing {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--userColorTrans2);
  border-radius: 50%;
}
.cornerBtn {
  width: 25px;
  height: 25px;
  position: fixed;
  padding: 15px;
  color: white;
  background-color: var(--userColor);
}
.cornerBtn .icon {
  font-size: 25px;
}
.signOutBtn {
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
}
.signOutBtn .icon {
  position: fixed;
  top: 9px;
  right: 8px;
}
.homeBtn {
  top: 0;
  left: 0;
  border-radius: 0 0 100% 0;
}
.homeBtn .icon {
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
}

.tableHeader {
  width: 100%;
  padding: 15px 0;
  color: white;
  text-align: center;
}

.tableBox {
  width: 100%;
  height: calc(100% - 60px);
  border-top: 1px solid var(--userColorTrans1);
}

.table {
  width: 100%;
  height: calc(100% - 64px);
  overflow: hidden;
  /* background-color: blueviolet; */
}

.tableRow {
  padding: 5px;
  display: flex;
  margin: 5px;
  align-items: center;
  border: 1px solid var(--userColorTrans1);
  border-radius: 10px;
  color: white;
  position: relative;
}

.tableRow .stars {
  position: absolute;
  right: 0;
}

.scrollBox {
  height: calc(100% - 5px);
  overflow-y: auto;
}
.thumbnail {
  border-radius: 50%;
  margin-right: 10px;
}
.tableRowImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--userColor);
}

.emptyTableMessageBox {
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.searchFormBox {
  display: flex;
  justify-content: center;
}
.searchInput {
  width: 100%;
  padding: 7px;
  font-size: 20px;
  border: none;
}
.searchBtn {
  width: 10%;
}

@media screen and (min-width: 800px) {
  .cornerBtn {
    padding: 2vw;
  }
  .cornerBtn .icon {
    padding: 0.9vw;
    font-size: calc(1vw + 20px);
  }
}
