:root {
  --userColor: rgb(154, 140, 201);
  --userColorTheme: #282c34;
  --userColorTrans: rgb(154, 140, 201, 0.5);
  --userColorTrans2: rgba(130, 141, 238, 0.5);
}

.app {
  overflow: hidden;
  height: 100vh;
}
.App-logo {
  height: 90vmin;
  pointer-events: none;
}

.linkBtn {
  color: white;
  text-decoration: none;
}

.UserProfile {
  height: 100vh;
  padding-top: 10px;
  background-color: var(--userColorTheme);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.UserProfile h4 {
  padding-top: 20px;
}
.colorBar {
  width: 170px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.profilePictureBox {
  height: 300px;
  padding-top: 2px;
  background-color: var(--userColorTheme);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.profilePictureBox h4 {
  padding-top: 20px;
}
.profilePicture {
  cursor: pointer;
  background-color: var(--userColor);
  width: 200px;
  border-radius: 50%;
}
.profilePictureFillIn {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--userColor);
  border-radius: 50%;
}
.profilePicture:hover {
  box-shadow: 0px 0px 7px 6px rgb(211, 201, 110);
}
.profilePictureFillIn:hover {
  box-shadow: 0px 0px 7px 6px rgb(211, 201, 110);
}

.starRating {
  width: 200px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.widgetBox {
  height: calc(100vh - 300px);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}
.widget {
  width: 40vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--userColorTrans);
  cursor: pointer;
}
.widget:hover {
  box-shadow: 0px 0px 7px 6px rgb(211, 201, 110);
}
.FriendsRing {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--userColorTrans2);
  border-radius: 50%;
}
.cornerBtn {
  width: 25px;
  height: 25px;
  position: fixed;
  padding: 15px;
  color: white;
  background-color: var(--userColor);
}
.signOutBtn {
  top: 0;
  right: 0;
  border-radius: 0 0 0 100%;
}
.signOutBtn .icon {
  position: fixed;
  top: 9px;
  right: 8px;
}
.homeBtn {
  top: 0;
  left: 0;
  border-radius: 0 0 100% 0;
}
.homeBtn .icon {
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
}
@media screen and (min-width: 800px) {
  .widgetBox {
    justify-content: center;
  }
  .widget {
    width: 300px;
    margin: 0 5px;
  }
}
